<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>iNotebook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveNotebook</display-name>
    <servlet-name>SaveNotebook</servlet-name>
    <servlet-class>SaveNotebook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveNotebook</servlet-name>
    <url-pattern>/SaveNotebook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNotebooksServlet</display-name>
    <servlet-name>GetNotebooksServlet</servlet-name>
    <servlet-class>GetNotebooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNotebooksServlet</servlet-name>
    <url-pattern>/GetNotebooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveNotes</display-name>
    <servlet-name>SaveNotes</servlet-name>
    <servlet-class>SaveNotes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveNotes</servlet-name>
    <url-pattern>/SaveNotes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchNotes</display-name>
    <servlet-name>FetchNotes</servlet-name>
    <servlet-class>FetchNotes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchNotes</servlet-name>
    <url-pattern>/FetchNotes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNoteContent</display-name>
    <servlet-name>GetNoteContent</servlet-name>
    <servlet-class>GetNoteContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNoteContent</servlet-name>
    <url-pattern>/GetNoteContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchNoteDetailsServlet</display-name>
    <servlet-name>FetchNoteDetailsServlet</servlet-name>
    <servlet-class>FetchNoteDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchNoteDetailsServlet</servlet-name>
    <url-pattern>/FetchNoteDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveToTrashServlet</display-name>
    <servlet-name>MoveToTrashServlet</servlet-name>
    <servlet-class>MoveToTrashServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveToTrashServlet</servlet-name>
    <url-pattern>/MoveToTrashServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetImageServlet</display-name>
    <servlet-name>GetImageServlet</servlet-name>
    <servlet-class>GetImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImageServlet</servlet-name>
    <url-pattern>/GetImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNoteServlet</display-name>
    <servlet-name>UpdateNoteServlet</servlet-name>
    <servlet-class>UpdateNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNoteServlet</servlet-name>
    <url-pattern>/UpdateNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetImage</display-name>
    <servlet-name>GetImage</servlet-name>
    <servlet-class>GetImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImage</servlet-name>
    <url-pattern>/GetImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermanentDeleteServlet</display-name>
    <servlet-name>PermanentDeleteServlet</servlet-name>
    <servlet-class>PermanentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermanentDeleteServlet</servlet-name>
    <url-pattern>/PermanentDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShareNoteServlet</display-name>
    <servlet-name>ShareNoteServlet</servlet-name>
    <servlet-class>ShareNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareNoteServlet</servlet-name>
    <url-pattern>/ShareNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchFiles</display-name>
    <servlet-name>FetchFiles</servlet-name>
    <servlet-class>FetchFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchFiles</servlet-name>
    <url-pattern>/FetchFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendNoteEmailServlet</display-name>
    <servlet-name>SendNoteEmailServlet</servlet-name>
    <servlet-class>SendNoteEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendNoteEmailServlet</servlet-name>
    <url-pattern>/SendNoteEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSharedWithMeServlet</display-name>
    <servlet-name>GetSharedWithMeServlet</servlet-name>
    <servlet-class>GetSharedWithMeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSharedWithMeServlet</servlet-name>
    <url-pattern>/GetSharedWithMeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTaskServlet</display-name>
    <servlet-name>CreateTaskServlet</servlet-name>
    <servlet-class>CreateTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTaskServlet</servlet-name>
    <url-pattern>/CreateTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTasksServlet</display-name>
    <servlet-name>GetTasksServlet</servlet-name>
    <servlet-class>GetTasksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTasksServlet</servlet-name>
    <url-pattern>/GetTasksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchUsersServlet</display-name>
    <servlet-name>FetchUsersServlet</servlet-name>
    <servlet-class>FetchUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchUsersServlet</servlet-name>
    <url-pattern>/FetchUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNotebookServlet</display-name>
    <servlet-name>DeleteNotebookServlet</servlet-name>
    <servlet-class>DeleteNotebookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNotebookServlet</servlet-name>
    <url-pattern>/DeleteNotebookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNoteServlet</display-name>
    <servlet-name>DeleteNoteServlet</servlet-name>
    <servlet-class>DeleteNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNoteServlet</servlet-name>
    <url-pattern>/DeleteNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTaskServlet</display-name>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/DeleteTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
</web-app>